@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


body {
  font-family: "Titillium Web", sans-serif;
  font-size: 11pt;
}


h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}

h1 {
  font-size: $font-size-h1;
  color: $primary_color;
  text-transform: uppercase;
}
h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
h4 {
  font-size: $font-size-h4;
}
h5 {
  font-size: $font-size-h5;
}
h6 {
  font-size: $font-size-h6;
}
